body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.choice {
    cursor: pointer;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

    .choice:hover {
        transform: scale(1.1);
    }

    .choice img {
        max-width: 100px;
        max-height: 100px;
    }

#result {
    font-weight: bold;
    margin-top: 20px;
}
